@charset "UTF-8";
/*=========================== GERAL ===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --hue: 170;
  --cor-primaria: hsl(var(--hue), 100%, 26%);
  --linha-do-cabecario: hsl(210, 11%, 15%);
  --linha-do-paragrafo: hsl(210, 9%, 31%);
  --caixa-de-estatisticas: hsl(39, 100%, 97%);
  --cor-de-fundo: hsl(calc(var(--hue) - 22), 23%, 89%);
  --autura-nav: 7.2rem;
  --cor-menu-escrita: hsl(39, 100%, 97%);
  --cor-do-card: hsl(180, 14%, 97%);
  --botao-hover: hsl(var(--hue), 100%, 14%);
}
.espacamento {
  margin-inline: auto;
  width: min(50rem, 100%);
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;

  background-color: var(--cor-do-card);
}
.button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: var(--cor-primaria);

  display: flex;
  padding: 1.6rem 3.2rem;
  margin-bottom: 6rem;
  margin-top: 4.8rem;
  margin-inline: auto;

  width: fit-content;

  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
nav .open-menu svg path {
  stroke: var(--cor-primaria);
}
nav .logo path[fill*='#00856F'] {
  fill: var(--cor-primaria);
}
.card svg circle[fill*='#DCE9E2'] {
  fill: var(--cor-de-fundo);
}
#contato h4 svg path {
  stroke: var(--cor-primaria);
}
#buttonBackToHome svg circle {
  fill: var(--cor-primaria);
}
/*=========================== HEADER ===========================*/
#home {
  padding-top: calc(4.1rem + var(--autura-nav));
}
body {
  overflow: auto;
}

#home h4::before {
  content: '';
  width: 100%;
  height: calc(76% + var(--autura-nav));
  background-color: var(--cor-de-fundo);
  display: block;

  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
#home h4 {
  color: var(--cor-primaria);
  font-size: 1.4rem;
  margin-bottom: 1.6rem;

  line-height: 150%;
}
#home h1 {
  color: var(--linha-do-cabecario);

  font-size: 3.4rem;
  line-height: 130%;

  margin-bottom: 2.4rem;
}
.p-cabecario {
  color: var(--linha-do-paragrafo);
  font-size: 1.8rem;
  line-height: 150%;

  margin-bottom: 3.2rem;
}
#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}
.box-geral {
  background-color: var(--caixa-de-estatisticas);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  gap: 6rem;
  padding-block: 4rem;
  border-radius: 0.6rem;

  border: 1px solid var(--caixa-de-estatisticas);
  margin-inline: auto;
}
#home h3 {
  font-size: 4.8rem;
  margin-bottom: 0.4rem;
  line-height: 130%;
}
.p-estatisticas {
  color: var(--cor-primaria);
  font-size: 1.6rem;
  line-height: 150%;

  margin: 0;
}
/*=========================== NAVEGATION ===========================*/
nav {
  height: var(--autura-nav);
  display: flex;

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}
nav .espacamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background-color: var(--cor-primaria);
}
nav.scroll .logo path {
  fill: white;
}
nav.scroll button path {
  stroke: white;
}
nav button {
  background: none;
  border: none;
  cursor: pointer;
}
/*=========================== MENU EXPANDED ===========================*/
.menu {
  transform: translateY(100%);
}
body.menu-expanded > :not(nav) {
  visibility: hidden;
}
button .close-menu {
  width: 4.4rem;
  margin-left: 0;
}
.menu,
.close-menu {
  visibility: hidden;
  opacity: 0;
}
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}
body.menu-expanded .open-menu {
  display: none;
}
body.menu-expanded {
  overflow: hidden;
}
body.menu-expanded .menu {
  top: 0;
  left: 0;

  background-color: var(--cor-primaria);

  height: 100vh;
  width: 100vw;
  padding-top: var(--autura-nav);

  transition: transform 300ms;
  transform: translateY(0);
}
.menu-expanded .social-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.menu-expanded .menu ul a {
  height: 3.1rem;
  text-decoration: none;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  color: white;

  margin-top: 6rem;
}
.menu ul li a {
  color: var(--cor-menu-escrita);
  font-size: 2.4rem;
  font-weight: bold;
}
body.menu-expanded .close-menu {
  visibility: visible;
}
.menu-expanded .close-menu,
.menu-expanded .logo {
  position: relative;
  z-index: 100;
}
body.menu-expanded .logo path {
  fill: white;
}
body.menu-expanded .button {
  background-color: white;
  color: var(--cor-primaria);

  display: inline-block;
  margin-top: 4.8rem;

  font-size: 1.7rem;
  line-height: 100%;
}
button.open-menu {
  display: fixed;
  margin: 1.5rem;
}
nav .menu,
nav .close-menu {
  position: fixed;
  margin-right: 2.4rem;
}
/*=========================== SERVICES ===========================*/
#services {
  padding-block: 10rem;
}
#services header h4 {
  color: var(--cor-primaria);
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 8%;

  text-transform: uppercase;
}
#services header h2 {
  color: var(--linha-do-cabecario);
  font-size: 3rem;
  line-height: 3.9rem;

  margin-top: 1.6rem;
  margin-bottom: 6rem;
}
.card {
  text-align: left;
  padding: 2.4rem;
  background-color: white;

  border-radius: 0.6rem;
  border-color: var(--cor-de-fundo);
  border: 0.1rem solid var(--cor-de-fundo);

  margin-bottom: 3.2rem;
}
.card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--linha-do-cabecario);
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.card p {
  font-size: 1.6rem;
  line-height: 2.4rem;

  color: var(--linha-do-paragrafo);
}
/*=========================== SOBRE ===========================*/
#sobre {
  background-color: var(--cor-menu-escrita);
}
#sobre h4 {
  color: var(--cor-primaria);
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 8%;

  margin-inline: auto;
  text-align: left;
  margin-bottom: 1.6rem;
  padding-top: 10rem;

  text-transform: uppercase;
}
#sobre h2 {
  color: var(--linha-do-cabecario);
  font-size: 3rem;
  line-height: 3.9rem;

  margin-inline: auto;
  margin-bottom: 2.4rem;

  text-align: left;
}
#sobre p {
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--linha-do-paragrafo);

  margin-bottom: 6rem;
  margin-inline: auto;

  text-align: left;
}
.coluna-b img {
  margin-bottom: 10rem;
  max-width: 100%;
}
/*=========================== CONTATO ===========================*/
#contato h2 {
  text-align: left;

  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--linha-do-cabecario);

  margin-bottom: 3.2rem;
  padding-top: 10rem;
}
#contato h4 {
  text-align: left;

  font-weight: normal;
  font-size: 1.6rem;
  line-height: 150%;

  margin-bottom: 1.6rem;

  color: var(--linha-do-paragrafo);

  display: flex;
  align-items: center;
  gap: 0.8rem;
}
body a.button:hover {
  background-color: var(--botao-hover);
}
.menu-expanded .button:hover {
  filter: brightness(2);
}
/*=========================== FOOTER ===========================*/
footer {
  background-color: var(--cor-primaria);
  text-align: left;
  padding-block: 6rem;
}
footer .logo path {
  fill: white;
}
footer p {
  color: var(--caixa-de-estatisticas);

  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 1.2rem;
}
footer .social-links ul {
  display: flex;
  flex-direction: row;
  margin-top: 3.2rem;
  gap: 3.2rem;
}
footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}
footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}
/*=========================== BOTAO DE VOLTAR FLUTUANTE ===========================*/
#buttonBackToHome {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);
  transition: 200ms;
}
#buttonBackToHome.show {
  opacity: 1;
  visibility: visible;

  transition: 200ms;
  transform: translateY(0);
}
#buttonBackToHome svg circle:hover {
  fill: var(--botao-hover);
}
/*=========================== DESKTOP ===========================*/
/* geral */

@media (min-width: 1024px) {
  /* reset */
  /* HOME */
  .espacamento {
    width: min(112rem, 100%);
    display: grid;
  }
  nav#navigation .espacamento * {
    display: initial;
    visibility: initial;
    font-size: initial;
    font-weight: initial;
    margin: 0;
    padding: 0;
    flex-direction: initial;
    color: initial;
    transform: initial;
    background-color: initial;
    position: initial;
    opacity: initial;
    text-align: initial;
  }

  nav#navigation .social-links,
  nav#navigation .open-menu,
  nav#navigation .close-menu {
    display: none;
  }
  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
  nav#navigation ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }
  nav#navigation .menu ul li a {
    opacity: 1;
    color: var(--cor-primaria);
  }
  nav#navigation a {
    text-decoration: none;
  }
  nav#navigation {
    background-color: var(--cor-de-fundo);
  }

  nav#navigation a.button {
    padding: 1rem 2.4rem;
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);

    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  nav#navigation ul li a.active,
  nav#navigation ul li a:hover {
    opacity: 1;
    font-weight: 700;

    transition: 0.2s;
  }
  nav#navigation.scroll .menu ul li a.active,
  nav#navigation.scroll ul:nth-child(1) li a:hover {
    opacity: 1;
    font-size: 700;
  }
  header .button {
    margin: 0;
  }
  header#home {
    padding: 0;
  }
  header#home h2 {
    font-size: 5.2rem;
    line-height: 130%;
  }
  nav#navigation.scroll {
    background-color: var(--cor-primaria);
  }
  nav#navigation.scroll ul:nth-child(1) li a {
    opacity: 0.6;
    color: var(--cor-do-card);
  }
  nav#navigation.scroll a.button {
    color: white;
    border-color: white;
  }
  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 0.2rem;
    display: block;
    position: relative;
    bottom: -2.4rem;
    left: -0.8rem;

    background-color: var(--cor-primaria);
  }
  nav#navigation.scroll ul li a::after {
    background-color: var(--cor-do-card);
  }
  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    width: 100%;
    padding-inline: 0.8rem;
    transition: width 0.2s;
  }
  nav#navigation a.button.active,
  nav#navigation a.button:hover {
    background-color: var(--botao-hover);
    color: white;
    border: none;
  }
  nav#navigation.scroll a.button:hover {
    filter: brightness(2.5);
  }
  #home h4::before {
    height: calc(96% - var(--autura-nav));
  }
  #home .espacamento {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }
  #home .col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
  }
  #home .col-b {
    grid-area: B;
  }
  #home .box-geral {
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }
  #home .box-geral .box {
    flex: 1;
  }
  #home img {
    width: 42rem;
    margin: 0;
    margin-top: 7rem;
  }
  #home .box-geral .box + .box {
    border-left: 1px solid var(--cor-primaria);
  }
  #home {
    padding-top: var(--autura-nav);
  }
  /* SERVICES */
  #services header h4 {
    letter-spacing: 0.08em;
  }
  #services header h2 {
    width: 50rem;
    margin-inline: auto;
    font-size: 4rem;
    line-height: 5.2rem;
  }
  #services .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  #services .cards .card {
    margin: 0;
    width: 30%;
    flex-grow: 1;
  }
  /* SOBRE */
  #sobre {
    padding: 0;
  }
  #sobre h2 {
    margin: 0;
    margin-left: 6.7rem;
  }
  #sobre h4 {
    padding: 0;
    margin-left: 6.7rem;
  }
  #sobre p {
    margin: 0;
    margin-left: 6.7rem;
  }
  #sobre .espacamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  #sobre .coluna-a {
    grid-area: A;
    align-self: center;
  }
  #sobre .coluna-b {
    grid-area: B;
    align-self: center;
  }
  #sobre img {
    margin: 0;
    width: 48rem;
    padding-block: 16rem;
  }
  #sobre .conteudo {
    padding-block: 20.4rem;
  }
  /* CONTATO */

  #contato .espacamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  #contato .coluna-a {
    grid: A;
    padding-block: 19.8rem;
  }
  #contato .coluna-b {
    grid: B;
  }
  #contato h2 {
    font-size: 4rem;
    line-height: 5.2rem;
    width: 40.4rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }
  #contato a.button {
    margin: 0;
    margin-top: 4rem;
  }
  #contato img {
    width: 57.5rem;
    margin-block: 16rem;
  }
  /* Footer */

  body footer.espacamento {
    width: 100%;
    padding-left: 12.3rem;
    padding-right: 12.2rem;
  }
  footer.espacamento {
    padding-block: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  footer .social-links {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: flex-end;
  }

  footer p:nth-child(2) {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  footer p {
    margin: 0;
  }
}
